<!-- ========================================= -->
<!-- !                FOOTER                   -->
<!-- ========================================= -->
<footer id="footer">
	<div class="row">
		<div class="large-5 columns">
			<nav role="navigation">
				<span><a href="#">contact</a></span>
				<span><a href="#">privacy</a></span>
				<span><a href="#">terms of service</a></span>
				<span><a href="tel:425-505-3075" class="phone">425-505-3075</a></span>
			</nav>
		</div>
		<div class="large-5 columns">
			<div class="copyright">Copyright © 2015 JulesWebb.com All rights reserved.</div>
		</div>
		<div class="large-2 columns">
			<div class="socialmedia text-center">
				<span class="twitter">
					<a href="#" class="fi-social-twitter" title="Follow me on twitte">&nbsp;</a>
				</span>
				<span class="facebook">
					<a href="#" class="fi-social-facebook" title="Like me on Facebook">&nbsp;</a>
				</span>
				<span class="gplus">
					<a href="#" class="fi-social-google-plus" title="Connect with me on Google Plus">&nbsp;</a>
				</span>
				<span class="linkedin">
					<a href="#" class="fi-social-linkedin" title="Connect with me on linkedin">&nbsp;</a>
				</span>
			</div>


		</div>
	</div>
</footer>
