<!-- ========================================= -->
<!-- !             NAVIGATION                  -->
<!-- ========================================= -->
<header>
	<div class="navigation-section">
		<div class="row">
			<div class="large-12 columns">
				<nav class="top-bar" data-topbar role="navigation">
					<ul class="title-area">
						<li class="name">
							<h1><a href="index"><img src="assets/img/logo.svg" width="250" height="55" alt="Jules Webb" /></a></h1>
						</li>
						<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
					</ul>
					<section class="top-bar-section">
						<!-- Right Nav Section -->
						<ul class="right">
							<li class="active"><a href="index">Home</a></li>
							<li><a href="websites">Websites</a></li>
							<li><a href="logos">Logos</a></li>
							<li><a href="about">About</a></li>
							<li><a href="contact">Contact</a></li>
						</ul>
					</section>
				</nav><!--	/top-bar		-->
			</div>
		</div>
	</div><!--	navigation-section show-for-large-up fixed	-->
</header>
