			<li>
				<div class="logowrap">
					<img src="assets/img/dwlabradoodles.jpg" width="500" height="300" alt="Web Design & UI" />
					<a href="#" class="reveal-link" data-reveal-id="port2"><span><span>preview</span></span></a>
					<div id="port2" class="reveal-modal xlarge text-center" data-reveal aria-labelledby="dwlab" aria-hidden="true" role="dialog">
						<img src="assets/img/dwlabradoodles_1000x.jpg" width="1000" height="600" alt="Web Design & UI" />
						<div class="pt-2">
							<a href="#" data-reveal-id="port3" class="custom-button red">Next</a>
						</div>
						<a class="close-reveal-modal" aria-label="Close">&#215;</a>

					</div>
				</div>
				<div><a href="logo-dwlab" class="rmore">view project details</a></div>
			</li>
			<li>
				<div class="logowrap">
					<img src="assets/img/meddleton-family-law.jpg" width="500" height="300" alt="Web Design & UI" />
					<a href="#" class="reveal-link" data-reveal-id="port3"><span><span>preview</span></span></a>
					<div id="port3" class="reveal-modal xlarge text-center" data-reveal aria-labelledby="medlaw" aria-hidden="true" role="dialog">
						<img src="assets/img/meddleton-family-law_1000x.jpg" width="1000" height="600" alt="Web Design & UI" />
						<div class="pt-2">
							<a href="#" data-reveal-id="port2" class="custom-button red mr-2">Prev</a>
							<a href="#" data-reveal-id="port4" class="custom-button red">Next</a>
						</div>
						<a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</div>
				</div>
				<div><a href="logo-mflaw" class="rmore">view project details</a></div>
			</li>
			<li>
				<div class="logowrap">
					<img src="assets/img/RVSKIRT_logo.jpg" width="500" height="300" alt="Web Design & UI" />
					<a href="#" class="reveal-link" data-reveal-id="port4"><span><span>preview</span></span></a>
					<div id="port4" class="reveal-modal xlarge text-center" data-reveal aria-labelledby="dwlab" aria-hidden="true" role="dialog">
						<img src="assets/img/RVSKIRT_logo_1000.jpg" width="1000" height="600" alt="Web Design & UI" />
						<div class="pt-2">
							<a href="#" data-reveal-id="port3" class="custom-button red mr-2">Prev</a>
							<a href="#" data-reveal-id="port5" class="custom-button red">Next</a>
						</div>
						<a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</div>
				</div>
				<div><a href="logo-rvskirt" class="rmore">view project details</a></div>
			</li>
<li>
				<div class="logowrap">
					<img src="assets/img/RLAW_logo_w-on-r.jpg" width="500" height="300" alt="Web Design & UI" />
					<a href="#" class="reveal-link" data-reveal-id="port5"><span><span>preview</span></span></a>
					<div id="port5" class="reveal-modal xlarge text-center" data-reveal aria-labelledby="dwlab" aria-hidden="true" role="dialog">
						<img src="assets/img/RLAW_logo_w-on-r_1000.jpg" width="1000" height="600" alt="Web Design & UI" />
						<div class="pt-2">
							<a href="#" data-reveal-id="port4" class="custom-button red">Prev</a>							
						</div>
						<a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</div>
				</div>
				<div><a href="logo-rlaw" class="rmore">view project details</a></div>
			</li>
