{% block content %}

<!-- =============================================================== -->
<!-- !   http://lisacatalano.github.io/brackets_course/pc.html       -->
<!-- !   https://github.com/adobe/brackets/wiki/Brackets-Shortcuts   -->
<!-- =============================================================== -->


    <!-- HEADER -->
    {% include "header" %}
    <!-- End HEADER -->



<!-- ========================================= -->
<!-- !            SPLASH HEADER                -->
<!-- ========================================= -->
<section class="splash panel green">
	<div class="row">
		<div class="large-12 columns">
			<div class="row" data-equalizer data-equalizer-mq="large-up">
				<div class="large-7 columns" data-equalizer-watch>
					<header class="table">
						<h2 class="cell">We Plan<br>I Code<br>You Manage</h2>
						<h3>Let's Work Together to Build Your Website</h3>
					</header>

				</div>
				<div class="large-5 columns" data-equalizer-watch>
					<img src="assets/img/juleswebb_avatar.svg" width="400" height="516" alt="Jules Webb Avatar" />
				</div>
			</div>
		</div>
	</div>
</section>



<!-- ========================================= -->
<!-- !      WE PLAN | I CODE | U MANAGE        -->
<!-- ========================================= -->
<section class="custom-panel plan-code-manage">
	<div class="row">
		<div class="large-12 columns">

			<div class="row">
				<div class="large-12 columns">
					<div>
						<p class="intro">I work with you to build a custom-tailered website that meets your business goals. Your website will be Search Engine Optimized, user friendly, and effective.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-3">
						<li class="text-center plan">
							<div class="wrap">
								<img src="assets/img/juleswebb_weplan.svg" width="200" height="200" alt="We Plan" />
								<h3>We Plan</h3>
								<p>I'll ask directed questions to understand your business, your vision, and who you want to reach. With your feedback, I'll develop a plan that visually and functionally represents you.</p>
							</div>
						</li>
						<li class="text-center code">
							<div class="wrap">
								<img src="assets/img/juleswebb_icode.svg" width="200" height="200" alt="I Code" />
								<h3>I Code</h3>
								<p>From basic websites to custom coded web development, I build search engine optimized websites that will meet your business goals, and your customer's needs.</p>
							</div>
						</li>
						<li class="text-center manage">
							<div class="wrap">
								<img src="assets/img/juleswebb_umanage.svg" width="200" height="200" alt="You Manage" />
								<h3>You Manage</h3>
								<p>You'll receive a website that enables you to add and update your own content. With my 1-on-1 training you'll have control over your website, and I'll be here if you need me.</p>
							</div>
						</li>
				</div>
			</div>

		</div>
	</div>
</section>



<!-- ========================================= -->
<!-- !          TRANSITION/SEGUE 1             -->
<!-- ========================================= -->
<section class="segue custom-panel charcoal">
	<div class="row">
		<div class="large-12 columns">
			<h2 class="text-center">How You build it Matters</h2>
		</div>
	</div>
</section>



<!-- ========================================= -->
<!-- !              SERVICES                   -->
<!-- ========================================= -->
<section class="custom-panel services">
    <div class="row">
		<div class="large-12 columns">
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
				<li class="text-center">
					<div class="wrap">
						<img src="assets/img/juleswebb_design.svg" width="200" height="200" alt="Web Design & UI" />
						<h3>Web Design & UI</h3>
						<p>You'll receive a beautiful website that you'll love. It will be user friendly, cross browser compatible, and built using responsive web design.
<!--						Beautiful websites that are user friendly, cross browser compatible, and built using responsive web design.-->
						</p>
					</div>
				</li>
				<li class="text-center">
					<div class="wrap">
						<img src="assets/img/juleswebb_seo.svg" width="200" height="200" alt="Search Engine Optimization" />
						<h3>SEO</h3>
						<p>I build websites structured and optimized for search engines, and teach you how to optimize any content you update or add in the future.</p>
					</div>
				</li>
				<li class="text-center">
					<div class="wrap">
						<img src="assets/img/juleswebb_ecommerce.svg" width="200" height="200" alt="Ecommerce" />
						<h3>Ecommerce</h3>
						<p>Ready to sell? I'll get you set up with a shopping cart solution that will enable you to sell your products or services online.</p>
					</div>
				</li>
				<li class="text-center">
					<div class="wrap">
						<img src="assets/img/juleswebb_email-marketing.svg" width="200" height="200" alt="Email Marketing" />
						<h3>Email Marketing</h3>
						<p>Communicate with a newsletter that's mobile friendly and uses the same look, and feel of your website.</p>
					</div>
				</li>
				<li class="text-center">
					<div class="wrap">
						<img src="assets/img/juleswebb_branding.svg" width="200" height="200" alt="YBranding & Logo Designs" />
						<h3>Branding & Logo Designs</h3>
						<p>Custom logos, graphics, and marketing materials that will convey your brand's personality and message.</p>
					</div>
				</li>
				<li class="text-center">
					<div class="wrap">
						<img src="assets/img/juleswebb_cms.svg" width="200" height="200" alt="Development & CMS" />
						<h3>Development & CMS</h3>
						<p>A content management system customized for your needs, giving you control over your website.</p>
					</div>
				</li>
			</ul>
		</div>
    </div>
</section>



<!-- ========================================= -->
<!-- !          TRANSITION SEGUE 2             -->
<!-- ========================================= -->
<section class="segue custom-panel charcoal">
	<div class="row">
		<div class="large-12 columns">
			<h2 class="text-center">Branding&mdash;The Art of Telling Your Story</h2>
		</div>
	</div>
</section>



<!-- ========================================= -->
<!-- !              CREATIVICA                 -->
<!-- ========================================= -->
<section class="creativica custom-panel white hm">
	<div class="row panel">
		<div class="large-12 columns">

			<div class="row">
				<div class="large-5 columns text-center">
					<img src="assets/img/creativica_avatar.svg" width="300" height="405" class="avatar" alt="Alvin Niwan Avatar" />
				</div>
				<div class="large-7 columns skills">

					<h3 class="text-center">Visual Identity Branding & Logo Designs </h3>
					<p>Branding, identity, and logo design are crucial componenents to your marketing strategy. I work with a skilled graphic artist, Alvin Niwan,  who can create a custom logo and graphics that will generate positive brand recognition for your business.</p>
					<div class="text-center"><a class="custom-button red" href="logos">I want to see more!</a></div>
				</div>
			</div><!-- ROW	-->

			<div class="row portfolio">
				<div class="large-12 columns">
					<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
						<!-- HEADER -->
						{% include "portfolio-hm" %}
						<!-- End HEADER -->
					</ul>
				</div>
			</div><!-- ROW	-->
		</div>
	</div><!-- ROW	-->
</section><!-- creativica custom-panel white-->



<!-- ========================================= -->
<!-- !             TESTIMONIALS                -->
<!-- ========================================= -->
<section class="testimonial custom-panel">
	<div class="row">
		<div class="large-12 columns">
			<blockquote class="text-center" itemscope itemtype="http://schema.org/Review">
				<p>Now THAT was money well spent! You have done an EXCELLENT job on our web and print materials - and often on a very last-minute basis. Jeremy and I appreciate your professionalism, promptness, reliability, expertise, sparkling personality and good heart. We can't thank you enough. =)</p>
				<footer>
					<cite>
						<span itemprop="author">Nadia Bouhdili</span>,
						<span itemprop="affiliation"><a href="#">Transformational Acupunture</a></span>
					</cite>
				</footer>
			</blockquote>
		</div>
	</div>
</section>



<!-- ========================================= -->
<!-- !                 CTA                     -->
<!-- ========================================= -->
<section class="cta segue custom-panel green drk">
	<div class="row">
		<div class="large-9 columns">
			<h2 class="text-center">Ready to Take the Next Step?</h2>
		</div>
		<div class="large-3 columns">
			<div class="text-center"><a href="#" data-reveal-id="cta" class="custom-button green drk">Get in Touch</a></div>
		</div>
	</div>
	{% include "modal_cta" %}
</section>



    <!-- FOOTER -->
    {% include "footer" %}
    <!-- End FOOTER -->

{% endblock %}
