{% block content %}

<!-- =============================================================== -->
<!-- !   http://lisacatalano.github.io/brackets_course/pc.html       -->
<!-- !   https://github.com/adobe/brackets/wiki/Brackets-Shortcuts   -->
<!-- =============================================================== -->


    <!-- HEADER -->
    {% include "header" %}
    <!-- End HEADER -->



<!-- ========================================= -->
<!-- !            SPLASH HEADER                -->
<!-- ========================================= -->
<section class="splash panel red logo">
	<div class="row">
		<div class="large-12 columns">


			<div class="wrap">
				<div class="table avatar">
					<div class="cell">
						<img src="assets/img/creativica_sitting-avatar.svg" width="271" height="364" alt="Alvin Webb Avatar" />
					</div>
				</div>


				<div class="table station">
					<div class="cell">
						<img src="assets/img/creativica_station.svg" width="712" height="398" alt="computer station" />
					</div>
				</div>
			</div>



		</div>
	</div>
</section>







<!-- ========================================= -->
<!-- !          TRANSITION/SEGUE 1             -->
<!-- ========================================= -->
<section class="segue custom-panel">
	<div class="row">
		<div class="large-12 columns">
			<h2 class="text-center"><span>Caro Spain</h2>
				<p>Placeholder text for project description  Quo! Eros mattis, sodales suscipit enim expedita cras urna. Aliqua dignissimos, convallis minim rem accusantium nam sem tempus, litora porro veritatis, quisquam, fugit, justo, tempore rem natus molestie nesciunt montes irure! Alias incidunt explicabo! Taciti, imperdiet cursus praesentium minus? Vero minus? Repellendus consequatur? Massa rhoncus sodales</p>
		</div>
	</div>
</section><!-- segue -->





<!-- ========================================= -->
<!-- !          TRANSITION/SEGUE 1             -->
<!-- ========================================= -->
<section class="custom-panel white pb-0">
	<div class="row">
		<div class="large-12 columns orange-link-text text-center">
			<img src="assets/img/CSPAINE_logo_1_1000.jpg" width="507" height="800" alt="Web Design & UI" />
		</div>
	</div>
</section><!-- segue -->






<!-- ========================================= -->
<!-- !                LOGOS                    -->
<!-- ========================================= -->
<section class="creativica custom-panel white pt-2">
	<div class="row">
		<div class="large-12 columns">

			<div class="row panel portfolio gallery">
				<div class="large-12 columns">

					<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">

						<li>
							<div class="logowrap">
								<img src="assets/img/CSPAINE_logo_2.jpg" width="250" height="394" alt="Web Design & UI" />
								<a href="#" class="reveal-link" data-reveal-id="port2"><span><span>preview</span></span></a>
								<div id="port2" class="reveal-modal xlarge text-center" data-reveal aria-labelledby="dwlab" aria-hidden="true" role="dialog">
									<img src="assets/img/CSPAINE_logo_2_1000.jpg" width="507" height="800" alt="Web Design & UI" />
									<div class="desc">Longer description Placeholder Text</div>
									<a class="close-reveal-modal" aria-label="Close">&#215;</a>
								</div>
							</div>
							<div class="desc">Short Title/Description</div>
						</li>


						<li>
							<div class="logowrap">
								<img src="assets/img/CSPAINE_logo_3.jpg" width="250" height="394" alt="Web Design & UI" />
								<a href="#" class="reveal-link" data-reveal-id="port4"><span><span>preview</span></span></a>
								<div id="port4" class="reveal-modal xlarge text-center" data-reveal aria-labelledby="medlaw" aria-hidden="true" role="dialog">
									<img src="assets/img/CSPAINE_logo_3_1000.jpg" width="507" height="800" alt="Web Design & UI" />
									<div class="desc">Longer description Placeholder Text</div>
									<a class="close-reveal-modal" aria-label="Close">&#215;</a>
								</div>
							</div>
							<div class="desc">Short Title/Description</div>
						</li>
						<li>
							<div class="logowrap">
								<img src="assets/img/CSPAINE_logo_4.jpg" width="250" height="394" alt="Web Design & UI" />
								<a href="#" class="reveal-link" data-reveal-id="port3"><span><span>preview</span></span></a>
								<div id="port3" class="reveal-modal xlarge text-center" data-reveal aria-labelledby="medlaw" aria-hidden="true" role="dialog">
									<img src="assets/img/CSPAINE_logo_4_1000.jpg" width="507" height="800" alt="Web Design & UI" />
									<div class="desc">Longer description Placeholder Text</div>
									<a class="close-reveal-modal" aria-label="Close">&#215;</a>
								</div>
							</div>
							<div class="desc">Short Title/Description</div>
						</li>
						<li>
							<div class="logowrap">
								<img src="assets/img/CSPAINE_logo_5.jpg" width="250" height="394" alt="Web Design & UI" />
								<a href="#" class="reveal-link" data-reveal-id="port5"><span><span>preview</span></span></a>
								<div id="port5" class="reveal-modal xlarge text-center" data-reveal aria-labelledby="medlaw" aria-hidden="true" role="dialog">
									<img src="assets/img/CSPAINE_logo_5_1000.jpg" width="507" height="800" alt="Web Design & UI" />
									<div class="desc">Longer description Placeholder Text</div>
									<a class="close-reveal-modal" aria-label="Close">&#215;</a>
								</div>
							</div>
							<div class="desc">Short Title/Description</div>
						</li>
					</ul>

				</div>
			</div><!-- ROW	-->


			<!-- ========================================= -->
			<!-- !         BUTTONS PEV - NEXT              -->
			<!-- ========================================= -->
			<div class="row">
				<div class="large-12 small-centered columns text-center">
					<div class="btn-wrap">
						<a href="logo-rlaw" class="custom-button red mr-2">PREV</a>
						<a href="logos" class="custom-button red mr-2">ALL LOGOS</a>
						<a href="logo-dwlab" class="custom-button red">NEXT</a>
					</div>

				</div>
			</div>



		</div>
	</div><!-- ROW	-->
</section><!-- jules-->









<!-- ========================================= -->
<!-- !                 CTA                     -->
<!-- ========================================= -->
<section class="cta segue custom-panel red">
	<div class="row">
		<div class="large-9 columns">
			<h2 class="text-center">Do You Need a Logo?</h2>
		</div>
		<div class="large-3 columns">
			<div class="text-center"><a href="#" data-reveal-id="cta" class="custom-button red drk">Get in Touch</a></div>
		</div>
	</div>
	{% include "modal_cta" %}
</section>



    <!-- FOOTER -->
    {% include "footer" %}
    <!-- End FOOTER -->

{% endblock %}
